* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

header {
  top: 0;
  width: 100%;
  color: #000000;
}

header .container {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .logo img {
  width: 80%;
  height: 80%;
}

header .container nav ul {
  display: flex;
  gap: 30px;
}

header .container nav ul li {
  font-size: 18px;
  font-weight: bold;
}

header .container .btn {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-left: 30px;
}

header .container .btn .contact {
  color: white;
  background-color: #26d366;
  border: none;
  border-radius: 18px;
  height: 50px;
  width: 170px;
  padding: 14px 24px;
  font-size: 14px;
  font-weight: bolder;
  cursor: pointer;
}

header .container .btn .login {
  color: #056fec;
  background-color: #ffffff;
  border: 1px solid #056fec;
  border-radius: 18px;
  height: 50px;
  width: 190px;
  padding: 14px 24px;
  font-size: 14px;
  font-weight: bolder;
  cursor: pointer;
}
